.project__container {
    position: relative;
    display: grid;
    width: 25rem;
    height: 15rem;
    border-radius: 0.75rem;
    background-color: rgb(240, 240, 240);
    opacity: 60%;
    overflow: hidden;
    margin: 0.5rem;
}

.text {
    font-size: xx-large;
}
