
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sending  {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.seaching {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.actions {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
