$primaryDark: #1a2122;
$primaryGold: #eaf72e;
$white: #ffffff;


$background: $primaryDark;
$text: $primaryGold;
$textWhite: $white;

// //GENERAL
// $affordance: $primary;
// $error: $red;
// $warning: $yellow;
// $info: $primary;
// $success: $green;

// //TYPOGRAPHY
// $fontColor: $grey;
// $subfontColor: $lightGrey;

// //COMPONENTS
// $navigationBar: $primaryLight;
// $navigationSubMenu: #eaf8fc;
// $iconColor: $primary;
// $highLight: $primaryLight; //e.g. hover on list items
// $borderColor: $grey; //e.g. list items bottom border
// $borderColorLight: $darkWhite; //e.g. Accordion item
// $contentBorder: $primaryLight;
// $pageSubMenu: #fafafa;
// $contentItemBgColor: #fafafae5;

/*
EXPORTS TO USE IN JS FILES 
for example theme.js
NOT WORKING WITH CRA v4.0.1 (26 nov 2020)
using temporary solution with exports.module.scss
*/
:export {
  background: $background;
  text: $text;
  textWhite: $textWhite;
}
