* {
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.main__container {
    background: rgb(160, 194, 205);
    /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */

    /* temp */
    height: 100vh;
    width: 100vw;
}

/* Checkbox container + */

.checkbox__container {
    display: flexbox;
    text-align: center;
    /* background-color: ; */
}

.checkbox__heading__text {
    border-style: none;
    border-bottom-style: dotted;
    background: transparent;
}

/* Checkbox + */
.checkbox {
    margin: 10px;
    background: transparent;
}

.checked {
    opacity: 25%;
}

.input__checkbox {
    background: transparent;
}
